html {
    height: 100%;
}

body {
    background-image: url(../images/bg-body.jpg);
    background-repeat: repeat;
    font: 11px Verdana, Tahoma, sans-serif;
    color: #363636;
    /*    width: 100%;*/
    min-width: 1024px;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 200px;
    /*	background: #FFE680;*/
}

.logo {
    position: absolute;
    width: 101px;
    height: 63px;
    left: 0;
    top: 44px;
}

.tel {
    position: absolute;
    top: 58px;
    right: 0;
    text-decoration: none;
    font-family: DINCyr;
    color: #707070;
}

.tel span {
    display: block;
}

.tel-code {
    font-size: 18px;
}

.tel-number {
    font-size: 30px;
}


/* Middle
-----------------------------------------------------------------------------*/

.middle {
    width: 100%;
    /*    padding: 0 0 150px;*/
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content {
    padding: 0 0 0 250px;
}

h1, h2 {
    /*    font-family: DINCyr;*/
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

.article p {
    margin: 0;
}

.people {}

.dept {
    display: inline-block;
    width: 246px;
    vertical-align: top;
}

.dept img {
    width: auto;
    height: 78px;
}


/*
.dept li:nth-child(n+2) {
    margin-top: 20px;
}
*/

.name {
    padding-left: 12px;
    vertical-align: top;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/

.left-sidebar {
    position: absolute;
    height: 100%;
    width: 250px;
    background: #B5E3FF;
}

.menu-list {
    line-height: 1.1;
}

.mainmenu .menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    /*    font-family: DINCyr;*/
    font-size: 40px;
    color: #363636;
}

.mainmenu .menu-item.active a {
    color: #ffffff;
    background: #707070;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    width: 1000px;
    margin: 0 auto;
    height: 100px;
    background: #BFF08E;
    position: relative;
    color: #707070;
    border: 1px;
    border-top: 1px rgba(112, 112, 112, 0.47);
}

.footer span {
    position: absolute;
    top: 40px;
    font-family: Tahoma;
}

.footer a {
    position: absolute;
    top: 40px;
    left: 120px;
    color: #707070;
    font-family: Tahoma;
    font-size: 11px;
    text-transform: lowercase;
    margin-left: 20px;
}
