html {
    height: 100%;
}

body {
    background-image: url(../images/bg-body.jpg);
    background-repeat: repeat;
    font: 11px Verdana, Tahoma, sans-serif;
    color: #363636;
    /*    width: 100%;*/
    min-width: 1024px;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 200px;
    /*	background: #FFE680;*/
}

.logo {
    position: absolute;
    width: 101px;
    height: 63px;
    left: 0;
    top: 44px;
}

.tel {
    position: absolute;
    top: 58px;
    right: 0;
    text-decoration: none;
    font-family: DINCyr;
    color: #707070;
}

.tel span {
    display: block;
}

.tel-code {
    font-size: 18px;
}

.tel-number {
    font-size: 30px;
}


/* Middle
-----------------------------------------------------------------------------*/

.middle {
    width: 100%;
    /*padding: 0 0 150px;*/
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content {
    padding: 0 0 0 250px;
}

h1, h2 {
    /*    font-family: DINCyr;*/
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.article {
    padding-bottom: 30px;
}

.article p {
    margin: 0;
    padding-bottom: 14px;
}

.people {
    display: block;
    margin-bottom: 12px;
    margin-right: -46px;
}

.dept {
    display: inline-block;
    width: 216px;
    vertical-align: top;
    margin-right: 46px;
}

.image {
    position: absolute;
    left: 0;
    top: 0;
    width: 78px;
    height: 78px;
    overflow: hidden;
    text-align: center;
}

.dept img {
    display: block;
    width: auto;
    height: 78px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.dept-item {
    position: relative;
    margin-bottom: 18px;
    padding: 0 0 0 90px;
    min-height: 78px;
}

.dept-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/

.left-sidebar {
    position: absolute;
    height: 100%;
    width: 250px;
    /*background: #B5E3FF;*/
}

.menu-list {
    line-height: 1.1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainmenu .menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    /*    font-family: DINCyr;*/
    font-size: 40px;
    color: #363636;
}

.mainmenu .menu-item.active a {
    color: #ffffff;
    background: #707070;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    width: 1000px;
    margin: 0 auto;
    height: 100px;
    /*background: #BFF08E;*/
    position: relative;
    font-family: Tahoma;
    text-transform: lowercase;
    color: #707070;
    border: 1px;
    border-top: 1px rgba(112, 112, 112, 0.47);
    padding-top: 40px;
}

.sign {
    display: inline-block;
    margin-right: 20px;
}

.vacancies {
    vertical-align: top;
    color: #707070;
}
